*.csproj
*.sln
.DS_Store
.idea
.vs/

/builds/*
/images/*
/Shot-*.png

# Original project folders
/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/VR-URP/Assets/GaussianAssets/*
/VR-URP/Assets/GaussianAssets.meta
/VR-URP/Assets/Models~/*
/VR-URP/Library/*
/VR-URP/Logs/*
/VR-URP/Temp/*
/VR-URP/UserSettings/*
/VR-URP/obj/*
/VR-URP/Build/**
/VR-URP/.vs/**

# VR-URP-NLI (current active project)
/VR-URP-NLI/Library/*
/VR-URP-NLI/Logs/*
/VR-URP-NLI/Temp/*
/VR-URP-NLI/UserSettings/*
/VR-URP-NLI/obj/*
/VR-URP-NLI/Build/**
/VR-URP-NLI/Builds/**
/VR-URP-NLI/.vs/**
